*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
/* ______________header________________ */
.header-content{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;


}
.header-left{
    width: 100%;
    height: auto;
    color: #cacaca;
    display: flex;
    align-items: center;
    padding-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header-right{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right p {
    margin-left: 32px;
    font-size: 14px;
}
.start-btn{
    padding: 18px 24px;
    color: white;
    background: black;
    margin-left: 24px;
    font-size: 16px;
    font-weight: bold;
}


/* ______________first-section________________ */

.first-section{
    height: 50rem;
    width: 100%;
    color: white;
    background: #000;
    display: flex;
    justify-content: space-between;
}
.first-left{
    width: 100%;
    padding-left: 8rem;
    padding-top: 10rem;
    padding-right: 5rem;
}
.first-h1{
    font-size: 42px;
    margin-bottom: 10px;
}
.first-p{
    font-size: 14px;
    margin-bottom: 32px;
}
.first-sign{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.sign-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}
.sign-icon i{
    color: blue;
    font-size: 30px;
}
.first-right{
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-top: 5rem;
    padding-right:8rem ;
    padding-bottom: 5rem;
}
.form-content{
    background: white;
    display: flex;
    justify-content: center;
    height: 27rem;
    flex-direction: column;
    gap: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 48px;
    padding-left: 48px;
    border-radius: 20px;
}
.object{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;

}
.one{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 10px; 
}
.form-fill{
    display: flex;
    flex-direction: column;
    align-items: self-end;
    gap: 10px; 
}
.font-label{
    font-weight: bold;
    align-self: flex-start;
    margin-left: 2rem;
}
.font{
    font-weight: bold;
    align-self: flex-start;
}
.one input{
    width: 56%;
    font-size: 16px;
    padding: 24px 24px;
    border-radius: 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-fill input{
    
    width: 56%;
    font-size: 16px;
    padding: 24px 24px;
    border-radius: 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

}
.child-btn{
    font-size: 14px;
    padding: 24px ;
    width: 100%;
    border-radius: 50px;
    border: none;
    background: red;
    color: white;
}
.child-btn:hover{
    background: #000;
    margin-top: -5px;
    transition: 0.5s ;
    
}

/* ______________Second-section_______________ */
.second-section{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;

}
/* ______________main-first_______________ */
.main-first{
    height: 30vh;
    width: 100%;
    background: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ______________main-second_______________ */
.main-second{
    height: 65vh;
    display: flex;
    margin: 0 8rem;

    
}
.adobe{
    font-size: 24px;
    color: #777d81;
    height: 100%;
    width: 100%;
    padding-right: 50px;
    border-right: 1px solid #777d81;
}
.adobe img{
    width: 150px;
    height: 150px;
    margin-top: -30px;
    margin-left: -5px;
}
.atlassian{
    font-size: 24px;
    height: 1005;
    color: #777d81;
    width: 100%;
    padding: 0 50px;
    border-right: 1px solid #777d81;
}
.coo{
    margin-top: 70px;
}
.atlassian img{
    width: 150px;
    height: 150px;
    margin-top: 80px;
    margin-left: -5px;
    
}
.upwork{
    font-size: 24px;
    height: 100%;
    color: #777d81;
    width: 100%;
    padding-left: 50px;
}
.upwork img{
    width: 150px;
    height: 150px;
    margin-top: -28px;
    margin-left: -5px;
}

/* ______________main-third_______________ */
.main-third{
    height: 50vh;
    width: 100%;
    background: #0ead0e;
}
/* ______________main-forth_______________ */
.main-forth{
    height: 50vh;
    width: 100%;
    background: #e2b41d;
}
/* ______________main-fifth_______________ */
.main-fifth{
    height: 50vh;
    width: 100%;
    background: #3608a0;
}
/* ______________main-sixth_______________ */
.main-sixth{
    height: 50vh;
    width: 100%;
    background: #b328ac;
}



/* ______________Third-sectioin________________ */




/* ______________Footer________________ */